body, div, img, h1, p, ul {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
body {
	font-family: arial, helvetica, sans-serif;
}

.container {
	width: 900px; margin: 0 auto;
}
#header {
	background: #01835f;
}
h1 {
	font-family: "myriad pro", arial, sans-serif;
	color: #fff;
	font-weight: normal;
	font-size: 4.8em;
	padding-top: 25px;
}
#branding {
	overflow: hidden;
	margin-bottom: 30px;
	position: relative;
}
ul#menu {
	list-style: none;
	 }
 
ul#menu li a {
    font-size: 1.8em; 
    text-decoration: none; 
    color: #2b2b2b;
    text-transform: uppercase;
}
ul#menu li {
	float: left;
	 }

ul#menu li {
	float: left;
	padding-right: 45px;
}

#navigation {
	background: #8ec196;
	overflow: hidden;
}
ul#menu li {
	float: left;
	padding-top: 11px;
	padding-bottom: 11px;
}

#branding {
	overflow: hidden;
	margin-bottom: 30px;
}

#content {
	overflow: hidden;
	align-content: center;
	 }

#footer p {
	color: #a5bf8d;
	}

	#footer {
		font-size: 1.2em;
		background: #01835f;
		  }
